In [90]:
# imports 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
color = sns.color_palette()

%matplotlib inline

In [91]:
# load the data

X_train = pd.read_csv("data/russian_house_market/train.csv", parse_dates=['timestamp'])
X_test = pd.read_csv("data/russian_house_market/test.csv")
currency_convertor = pd.read_csv("data/russian_house_market/currency.csv")

In [92]:
# transform the currency df to a dictionary for easier access

currency_convertor = currency_convertor.set_index("date")
currency_convertor_dict = currency_convertor.to_dict()

In [93]:
# currency conversion

def month_year(x):
    if type(x) == str:
        splitted = x.split("-")
        new_date = splitted[1]+"-"+splitted[0]
    else:
        new_date = x.strftime("%m-%Y")
    return new_date

def currency_convert(date, price):
    exchange_rate = currency_convertor_dict["currency"][date]
    return price * exchange_rate
    
X_all = pd.concat(objs = [X_train, X_test], axis=0)
assert isinstance(X_all, pd.DataFrame)

X_all["timestamp"] = X_all["timestamp"].apply(month_year)
df_currency_conversion = X_all[["timestamp", "price_doc"]].copy()
df_currency_conversion["price_doc"] = df_currency_conversion.apply(lambda row: pd.Series({'timestamp':row["timestamp"], 'price_doc':currency_convert(row["timestamp"], row["price_doc"])}), axis=1)     
X_all["price_doc"] = df_currency_conversion["price_doc"]

In [96]:
# make a copy of test timestamp

test_timestamp = X_all["timestamp"]
test_timestamp = pd.DataFrame(test_timestamp[len(X_train):])

In [97]:
# fill the na and get dummy variables from categorical data

X_all.fillna(X_all.mean(), inplace = True)
X_all = pd.get_dummies(X_all)

In [98]:
# feature scaling

from sklearn_pandas import DataFrameMapper
from sklearn.preprocessing import StandardScaler

ids = X_all["id"]
mapper = DataFrameMapper([(X_all.columns, StandardScaler())])
scaled_features = mapper.fit_transform(X_all.copy())
scaled_features_df = pd.DataFrame(scaled_features, index=X_all.index, columns=X_all.columns)
scaled_features_df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0_13_all</th>
      <th>0_13_female</th>
      <th>0_13_male</th>
      <th>0_17_all</th>
      <th>0_17_female</th>
      <th>0_17_male</th>
      <th>0_6_all</th>
      <th>0_6_female</th>
      <th>0_6_male</th>
      <th>16_29_all</th>
      <th>...</th>
      <th>timestamp_11-2013</th>
      <th>timestamp_11-2014</th>
      <th>timestamp_11-2015</th>
      <th>timestamp_12-2011</th>
      <th>timestamp_12-2012</th>
      <th>timestamp_12-2013</th>
      <th>timestamp_12-2014</th>
      <th>timestamp_12-2015</th>
      <th>water_1line_no</th>
      <th>water_1line_yes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1.201285</td>
      <td>1.162229</td>
      <td>1.235537</td>
      <td>1.188467</td>
      <td>1.149805</td>
      <td>1.222768</td>
      <td>1.153571</td>
      <td>1.164018</td>
      <td>1.141788</td>
      <td>-0.223144</td>
      <td>...</td>
      <td>-0.156883</td>
      <td>-0.18379</td>
      <td>-0.139117</td>
      <td>-0.079417</td>
      <td>-0.121195</td>
      <td>-0.155827</td>
      <td>-0.216344</td>
      <td>-0.155208</td>
      <td>0.286628</td>
      <td>-0.286628</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.523683</td>
      <td>0.554055</td>
      <td>0.494024</td>
      <td>0.548430</td>
      <td>0.565753</td>
      <td>0.531123</td>
      <td>0.445573</td>
      <td>0.478837</td>
      <td>0.413604</td>
      <td>-0.262330</td>
      <td>...</td>
      <td>-0.156883</td>
      <td>-0.18379</td>
      <td>-0.139117</td>
      <td>-0.079417</td>
      <td>-0.121195</td>
      <td>-0.155827</td>
      <td>-0.216344</td>
      <td>-0.155208</td>
      <td>0.286628</td>
      <td>-0.286628</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.182887</td>
      <td>0.138965</td>
      <td>0.223825</td>
      <td>0.243104</td>
      <td>0.199688</td>
      <td>0.283535</td>
      <td>0.182700</td>
      <td>0.137060</td>
      <td>0.225079</td>
      <td>-0.191497</td>
      <td>...</td>
      <td>-0.156883</td>
      <td>-0.18379</td>
      <td>-0.139117</td>
      <td>-0.079417</td>
      <td>-0.121195</td>
      <td>-0.155827</td>
      <td>-0.216344</td>
      <td>-0.155208</td>
      <td>0.286628</td>
      <td>-0.286628</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2.065314</td>
      <td>2.071514</td>
      <td>2.055203</td>
      <td>2.105747</td>
      <td>2.095231</td>
      <td>2.111937</td>
      <td>2.075597</td>
      <td>2.121536</td>
      <td>2.029025</td>
      <td>-0.460802</td>
      <td>...</td>
      <td>-0.156883</td>
      <td>-0.18379</td>
      <td>-0.139117</td>
      <td>-0.079417</td>
      <td>-0.121195</td>
      <td>-0.155827</td>
      <td>-0.216344</td>
      <td>-0.155208</td>
      <td>0.286628</td>
      <td>-0.286628</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.235031</td>
      <td>0.159379</td>
      <td>0.305712</td>
      <td>0.281378</td>
      <td>0.213312</td>
      <td>0.344959</td>
      <td>0.137269</td>
      <td>0.104510</td>
      <td>0.167657</td>
      <td>-0.429507</td>
      <td>...</td>
      <td>-0.156883</td>
      <td>-0.18379</td>
      <td>-0.139117</td>
      <td>-0.079417</td>
      <td>-0.121195</td>
      <td>-0.155827</td>
      <td>-0.216344</td>
      <td>-0.155208</td>
      <td>0.286628</td>
      <td>-0.286628</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 511 columns</p>
</div>

In [99]:
# split the data

X_train = pd.DataFrame(X_all[:len(X_train)])
X_test = pd.DataFrame(X_all[len(X_train):])
length = len(X_train)

y = X_train["price_doc"]

X_train_transformed = X_train.drop(["price_doc"], axis = 1).copy()

In [100]:
X_matrix = X_train_transformed.as_matrix()
y_matrix = y.as_matrix()

In [101]:
# extreme gradient boosting

from xgboost import XGBRegressor

xgb = XGBRegressor()
xgb.fit(X_train_transformed, y)

XGBRegressor(base_score=0.5, colsample_bylevel=1, colsample_bytree=1, gamma=0,
       learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=100, nthread=-1,
       objective='reg:linear', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)

In [102]:
# drop the price_doc from test when we merged
X_test.drop("price_doc", axis=1, inplace=True)

In [103]:
xgb_predictions = xgb.predict(X_test)

In [113]:
def currency_back_to_rubles(date, price):
    exchange_rate = currency_convertor_dict["currency"][date]
    final_price = price // exchange_rate 
    return final_price 

currency_test = pd.DataFrame()
currency_test["timestamp"] = test_timestamp
currency_test["price"] = xgb_predictions
currency_test["price"] = currency_test.apply(lambda row: pd.Series({'timestamp':row["timestamp"], 'price':currency_back_to_rubles(row["timestamp"], row["price"])}), axis=1)     

currency_test.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>timestamp</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>07-2015</td>
      <td>6.71988e+06</td>
    </tr>
    <tr>
      <th>1</th>
      <td>07-2015</td>
      <td>9.35338e+06</td>
    </tr>
    <tr>
      <th>2</th>
      <td>07-2015</td>
      <td>6.40946e+06</td>
    </tr>
    <tr>
      <th>3</th>
      <td>07-2015</td>
      <td>5.94484e+06</td>
    </tr>
    <tr>
      <th>4</th>
      <td>07-2015</td>
      <td>5.69100e+06</td>
    </tr>
  </tbody>
</table>
</div>

In [114]:
xgb_results = pd.DataFrame(
    {
        "id": ids[length:],
        "price_doc": currency_test["price"].values
    }
)
xgb_results.to_csv("data/russian_house_market/xgb_conversion.csv", index=False)

# 0.3 score, which is worse than without the conversion to USD